<div class="container-fluid pt-5" style="height: 100vh;">
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <img ngSrc="logo-green.png" alt="AgroFlow logo" width="450" height="120" />
    </div>

  </div>
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center justify-content-center landing-page-styling">
      <h1 class="display-4 text-center">Welcome to AgroFlow</h1>
      <p class="lead text-center">The solution for smart agriculture water management and prediction.</p>
      <div class="d-flex gap-3 mt-4">
        <button type="button" class="btn btn-agro-primary btn-lg" routerLink="/login">Get Started</button>
      </div>
    </div>
  </div>
</div>
